<Project>
  <PropertyGroup>
    <!-- <Sts2Path>C:\Path\To\Steam\steamapps\common\Slay the Spire 2</Sts2Path> -->
    <!-- <Sts2DataDir>$(Sts2Path)\data_sts2_windows_x86_64</Sts2DataDir> -->
  </PropertyGroup>
</Project>
